*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Oswald", sans-serif;
    background: #000000;
    /* Pattern from https://www.heropatterns.com/ */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23540606' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: #1e272e;
    color: #fff;
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
img{
    max-width: 100%;
}
.container{
    width: 90%;
    max-width: 1500px;
    margin: auto;
}
ul,li,a{
    text-decoration: none;
    list-style: none;
}
a {
    color: #ffffff;
    text-decoration: none;
}
.menu{
    /* display: none; */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #2f3640;
    width: 50%;
    height: 100%;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
}
.menu.show {
    transform: translateX(-20px);
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5em;
}
.nav-brand {
    display: block;
    width: 50px;
}
.nav-menu-right{
    display: flex;
    justify-content: space-between;
}

.nav-main ul li {
    padding: 10px;
}
.nav-main ul li a {
    padding: 2px;
}
.nav-main ul li a:hover {
    border-bottom: 2px solid #fff;
}
.showcase {
    margin-top: 1em;
    width: 100%;
    height: 550px;
    display: flex;
    background: url("../img/showcase2.jpg") no-repeat center center/cover;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
    color: #fff;
}
.btn {
    margin-top: 1.5em;
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
}

.btn:hover {
    opacity: 0.9;
}
.footer-container{
    margin-top: auto;
    background-color: #222;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 20px;
}
.social {
    text-align: center;
    font-size: 1.7rem;
    margin: 1em auto;
}
.links{
    display: flex;
    margin-top: 1em;
}

.links a {
    flex: 1;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
}
.links a:first-of-type{
    justify-content: flex-end;
}
.links a:last-of-type{
    justify-content: flex-start;
}
.nav-main{
    width: 90%;
    max-width: 1500px;
    margin: auto;
    display: flex;
}
.nav-menu-right{
    margin-left: auto;
}
.footer{
    width: 90%;
    max-width: 1500px;
    margin: auto;
}
.cards-banner-two {
    width: 100%;
    height: 350px;
    background: url("../img/image-five.jpg") no-repeat center center/cover;
}

.cards-banner-two {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards-banner-two .content{
    padding: 1em;
}
.news-cards h3 {
    font-size: 20px;
    margin: 10px 0;
}

.news-cards a {
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}
.news-cards > div {
    margin-bottom: 1em;
}
@media screen and (min-width:700px){
    .news-cards{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap:15px;
    }
    .footer-container .footer{
        display: flex;
        flex-wrap: wrap;
    }
    .footer ul{
        flex: 1 1 auto;
    }
    .footer h3{
        margin-top: 1.5em;
        flex-basis: 100%;
    }
    
}

@media screen and (min-width:1020px){
    .news-cards{
        grid-template-columns: repeat(3,1fr);
    }
    /* li:has(> a.menu-btn){
        display: none;
    } */
    .li-menu-btn{
        display: none;
    }
    .menu{
        position: relative;
        font-size: .9rem;
        display: flex;
        margin-left: auto;
        background: none;
        border: none;
        transform: none;
        padding: 0;
        height: auto;
        width: auto;
        align-items: flex-end;
    }
    
}

@media screen and (min-width:1200px){
    .news-cards{
        grid-template-columns: repeat(4,1fr);
    }
    .menu{
        font-size: 1rem;
    }
}