*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --dark : #111111;
    --grisOscuro: #222222;
    --negro: #111111;
    --blanco: #FEFEFE;
    --grisOscuro: #222222;
    --grisClaro: #C8C8C8;
    --grisClaroHover: #ACABAB;
    --azul: #3E60E9;
    --azulHover: #254BE6;
    --sombraDark: 10px 10px 20px rgba(170,170,170,.16);
    --sombraLight: 10px 10px 20px rgba(0,0,0,.16);
}
body {
	background: #F1F1F1;
	font-family: 'Roboto', sans-serif;
	transition: .3s ease all;	
}
body.dark {
    background: var(--dark);
}
a {
	color: var(--grisOscuro);
	text-decoration: none;
	font-weight: 500;
}
.container {
	max-width: 1000px;
	width: 90%;
	margin: auto;
	padding: 50px 0;
}

nav {
	background: var(--blanco);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 20px;
	border-radius: 5px;
	transition: .3s ease all;
	box-shadow: var(--sombraDark);

}
.logotipo {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.links {
    display: flex;
    align-items: center;
    
}
.links a {
    margin-right: 40px;

}
a:hover {
    color: #707070;
}

body.dark nav {
    background: var(--grisOscuro);
    box-shadow: var(--sombraLight);
    
}
body.dark nav a {
    color: var(--grisClaro);
    
}
body.dark nav a:hover {
    color: var(--blanco);
}

.switch {
	background: #343D5B;
	border-radius: 1000px;
	border: none;
	position: relative;
	cursor: pointer;
	display: flex;
	outline: none;
	
}
.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
}
.switch.active {
    background: orange;
    color: #000;
}
.switch.active::after {
    right: 0;
    left: unset;
}
.switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}
.cards-container{
    display: grid;
	grid-gap: 40px 20px;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 40px 0;
}
.card__item{
    background: var(--blanco);
    padding: 20px;
    border-radius: 5px;
    box-shadow: var(--sombraDark);
    display: flex;
    align-items: flex-end;
    position: relative;
    min-height: 195px;
    margin-top: 50px;
    transition: .3s ease all;
    flex-wrap: wrap;
}
body.dark .card__item {
    background: var(--grisOscuro);
    box-shadow: var(--sombraLight);
}
.card__img{
    display: block;
    border-radius: 7px;
    width: 100%;
    max-height: 165px;
    object-fit: cover;
    margin-bottom: .5em;
}

.card__info,.card__buy{
    padding: 10px;
    color: #fff;
    width: 100%;
    display: block;
    background: var(--negro);
    text-align: center;
    border-radius: 5px;
    transition: .3s ease all;
    border: none;
}
.card__buy{
    margin-right: .25em;
    width: calc(50% - .5em);
    background: var(--azul);
}
.card__buy:hover {
    background: var(--azulHover);
}
.card__info{
    margin-left: .25em;
    width: calc(50% - .5em);
    width: 50%;
    background: var(--grisClaro);
    
}
.card__info:hover {
    background: var(--grisClaroHover);
}