*,*::before, *::after {
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
}

body {
    background-image: url(./img/fondo.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.dev {
    /* border: 1px solid red; */
}
.contenido ul li:first-of-type {
    background-image: url(./img/cat1.jpg);
}

.contenido ul li:nth-child(2) {
    background-image: url(./img/cat2.jpg);
}

.contenido ul li:last-of-type {
    background-image: url(./img/cat3.jpg);
}
main > * {
    order: 10;
}
.contenido{
    order:-1;
    background-color: rgba(255, 255, 255, .7);
    padding: 20px;
}
.lateral {
    flex:1;
    padding-top: 15px;
    background-color: rgba(0, 0, 0, .4);
}
.contenido ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    flex-direction: column;
    padding: 0;
    align-items: center;
}
.contenido ul li {
    margin-bottom: 10px;
    background-color: red;
    height: 100px;
    width: 100px;
    background-position: center center;
    background-size: cover;
}

.contenido ul li:last-child{
    margin-bottom:0;
}
.lateral a {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    margin: 10px auto;

}

.lateral > img{
    margin: auto;
    margin-bottom: 2em;
}

@media screen and (min-width:415px){
    .contenido ul {
        flex-direction: row;
        justify-content: space-between;
    }
    .contenido ul li {
        margin-bottom:0;
        flex-basis: 30%;
    }
}

@media screen and (min-width:800px){
    main{
        width: 90%;
        max-width: 1200px;
        flex-wrap: nowrap;
    }
    .lateral{
        flex: 1 0 50%;
        order: -1;
    }
    .contentido{
        flex-grow: 1;
    }
}
